
// Fonts
$global-fonts: 'Roboto', sans-serif;
$logo-fonts: 'Sriracha', cursive;

// Colors

$header-color: #fff;
$bg-color: #F8F8F8;
$btn-color: #FF6900;
$text-color: #2F2F2F;
$text-color_light: #595959;
$btn-text: #fff;

$logo-color: #FF6900;

